@import url(variable.css);

body {
  background: var(--background-color);
  font-family: "Inter", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--background-color);
  border-bottom: 5px solid var(--border-color);
  width: 100%;
  height: 100px;
  top: 0;
  box-sizing: border-box;
  position: fixed;
}

main {
  height: calc(100vh- 100px);
  margin-top: 100px;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo {
  width: 30px;
  height: auto;
}

.menu-main {
  display: none;
  flex-direction: column;
  background: var(--background-color);
  position: absolute;
  top: 60px;
  right: 0;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  border-top: 3px solid var(--border-corlor);
  list-style: none;
  margin: 0;
}

.menu-main.active {
  display: flex;
}

.menu-mobile-icon {
  display: block;
  font-size: 30px;
  cursor: pointer;
  color: var(--text-color);
  position: fixed;
  right: 20px;
  top: 30px;
  z-index: 10;
}

.menu-mobile {
  display: flex;
  flex-direction: column;
  background: var(--background-color);
  position: fixed;
  top: 0;
  right: -100%;
  width: 100px;
  height: 40%;
  text-align: center;
  padding-top: 60px;
  border-left: 3px solid var(--border-corlor);
  border-bottom: 3px solid var(--border-corlor);
  list-style: none;
  transition: right 0.5s ease;
  padding-left: 10px;
  font-size: medium;
}

.menu-mobile.active {
  right: 0;
}

.menu-link {
  text-decoration: none;
  color: #f4f4f4;
  display: block;
  padding: 10px;
  transition: background 0.3s ease;
}

.menu-link:hover {
  color: var(--link-color);
}

.nav-mobile #toggleTheme {
  display: block;
  font-size: 30px;
  cursor: pointer;
  color: var(--text-color);
  position: fixed;
  right: 60px;
  top: 34px;
  z-index: 10;
  max-height: 10px;
}

#toggleTheme {
  display: block;
  font-size: 25px;
  cursor: pointer;
  color: var(--text-color);
  position: relative;
  bottom: 4px;
}

/* Home */
.background-image {
  background-image: url("../assets/academy.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
}

.title-home {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

/* Sobre */
.about-product {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  margin: 0;
  padding: 20px;
}

.about-product h2 {
  font-size: 30px;
  margin: 10px;
  margin-top: 30px;
}

.about-product p {
  font-size: 16px;
  text-align: justify;
  margin-top: 30px;
  margin-bottom: 15px;
}

.product-image {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.product-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Planos e preços */
.plans-prices {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-bottom: 5px solid var(--border-color);
}

.plans-prices h2 {
  font-size: 30px;
}

.container-plans {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  border: var(--border-color) 1px solid;
  margin-bottom: 100px;
}

button {
  background-color: var(--button-color);
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: var(--button-hover-color);
}

/* FAQ */

.faq {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: justify;
  gap: 2rem;
  padding: 2rem;
}

.faq h2 {
  font-size: 30px;
  margin: 10px;
}

.accordion-header {
  width: 100%;
  display: flex;
  padding: 0.75rem 1rem;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--border-faq-color);
  background: var(--background-faq-color);
  text-align: left;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.accordion-header span {
  font-size: 18px;
  color: var(--text-color);
}

.accordion-header.start {
  border-radius: 0.25rem 0.25rem 0 0;
}

.accordion-header.end,
.accordion-item.active .accordion-body.end {
  border-radius: 0 0 0.25rem 0.25rem;
}

.accordion-item.active .accordion-header.end {
  border-radius: 0;
}

.accordion-body {
  max-height: 0;
  overflow: hidden;
  padding: 0 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
  border: 1px solid var(--border-faq-color);
  transition: 0.5s ease-out, padding 0.3s ease-out;
}

.accordion-item.active .accordion-body {
  max-height: 500px;
  padding: 1.25rem;
}

.accordion-item.active .accordion-header {
  background: var(--background-faq-color);
}

.bi-caret-down-fill {
  color: var(--button-color);
  transition: 0.3s ease-in-out;
}

.accordion-item.active .bi-caret-down-fill {
  transform: rotate(180deg);
}

/*Equipe */
.team h2 {
  font-size: 30px;
}

.team h3 {
  font-size: 20px;
}

.team {
  justify-items: center;
  align-items: center;
}

.div-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.card {
  display: flex;
  justify-items: center;
  align-items: center;
  margin: 5px;
  width: 280px;
}

.card h3,
p {
  margin: 3px;
}

.div-img {
  margin: 5px;
}

.div-img img {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  object-fit: cover;
}

.div-content {
  justify-items: center;
  text-align: center;
  margin: 5px;
  flex: 1;
}

.media-member {
  display: flex;
}

.label-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Contato */
.container-contato {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 40px;
}

.form_box,
.contato-equipe {
  flex: 1;
  min-width: 250px;
 
}

.contato-cards {
  border: 2px solid var(--border-color);
  box-shadow: 0 0 5px var(--border-color);
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}
.contato h1{
  font-size: 50px;
  margin-bottom: 20px;
}

.card-contato {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  width: 90%;
}

.card-contato h2 {
  font-size: 30px;
  color: var(--text-color);
  margin-bottom: 10px;
  gap: 10px;
}

.card-contato a i {
  font-size: 50px;
  color: var(--text-color);
}

input:focus,
textarea:focus,
button:focus {
  outline: 3px solid var(--border-color);
  outline-offset: 2px;
}

.form_box {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background-color: var(--background-faq-color);
}

.form_box .title-contato {
  color: var(--text-color);
  font-size: 36px;
}

.form_box form {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  padding: 32px;
}

.form_box input[name="name"],
.form_box input[name="email"],
.form_box input[name="telefone"] {
  width: 100%;
}

.form_box input,
.form_box textarea {
  width: calc(50% - 8px);
  border-radius: 8px;
  height: 48px;
  font-size: 18px;
  margin-bottom: 5px;
  display: block;
}

.form_box input:first-child {
  margin-right: 16px;
}

.form_box input[name=subject] {
  width: 100%;
}

.form_box textarea {
  width: 100%;
  height: 180px;
  padding: 16px;
}

.form_box button {
  display: block;
  border: none;
  outline: none;
  width: 180px;
  height: 48px;
  cursor: pointer;
}

.form_box button:houver {
  background-color: var(--button-hover-color);
}

.contato {
  text-align: center;

}
.contato-equipe{
  background-color: var(--background-faq-color);
}
.contato-equipe h1 {
  font-size: 35px;
  margin-bottom: 20px;
}

@media(min-width:412) {}


.bi-github,
.bi-linkedin,
.bi-envelope-fill {
  width: 32px;
  height: 32px;
  font-size: 32px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
  color: #ffffff;
}

.invisible-button {
  cursor: pointer;
  background: transparent;
  border: none;
  color: transparent;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 0px;
}

/* telas maiores */
@media screen and (min-width: 660px) {
  .menu-mobile {
    width: 30vh;
    height: 60vh;
    padding-top: 70px;
    gap: 10px;
  }

  .menu-mobile span {
    font-size: 15px;
  }

  .menu-link {
    padding: 0 15px;
  }
}

@media screen and (min-width: 768px) {
  .menu-mobile {
    width: 20vh;
    height: 40vh;
    padding-top: 80px;
    gap: 30px;
  }

  .menu-mobile span {
    font-size: 25px;
  }

  .menu-link {
    padding: 0 15px;
  }

  .logo {
    width: 50px;
  }

  .background-image {
    height: 300px;
  }

  .titulo-home {
    font-size: 20px;
  }

  .about-product {
    flex-direction: row;
    text-align: left;
    gap: 40px;
    max-width: 1000px;
    margin: 0 auto;
  }

  .about-product h2 {
    font-size: 30px;
    text-align: left;
    margin-top: 100px;
  }

  .faq {
    padding: 1rem;
  }

  .faq h2 {
    font-size: 50px;
  }

  .accordion-header {
    padding: 0.5rem 0.75rem;
  }

  .accordion-header span {
    font-size: 20px;
  }
}


@media screen and (min-width: 840px) {
  .menu-mobile {
    width: 30vh;
    height: 60vh;
    padding-top: 70px;
    gap: 10px;
  }

  .menu-mobile span {
    font-size: 15px;
  }

  .menu-link {
    padding: 0 15px;
  }
}

@media screen and (min-width: 1024px) {
  .nav-mobile #toggleTheme {
    display: none;
  }

  .menu-mobile-icon {
    display: none;
  }

  .menu-main {
    display: flex;
    position: static;
    flex-direction: row;
    background: transparent;
    padding: 0;
    border-top: none;
  }

  .background-image {
    height: 500px;
  }

  .title-home {
    font-size: 36px;
  }

  .about-product {
    max-width: 1200px;
    gap: 80px;
  }

  .about-product h2 {
    font-size: 50px;
    margin-top: 60px;
  }

  .product-image {
    flex-direction: row;
  }

  .product-image img {
    width: 320px;
    height: 200px;
  }

  .plans-prices {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .plans-prices h2 {
    width: 100%;
    font-size: 50px;
  }

  .container-plans {
    width: 28%;
  }

  .div-img img {
    width: 120px;
    height: 120px;
  }

  .div-cards {
    gap: 30px;
  }

  .card {
    width: 330px;
  }

  .team h2 {
    font-size: 50px;
  }

  .team h3 {
    font-size: 26px;
  }

  .team p {
    font-size: 20px;
  }
}


@media screen and (min-width: 1200px) {
  .background-image {
    height: 600px;
  }

  .title-home {
    font-size: 40px;
  }

  .about-product {
    max-width: 1400px;
  }

  .about-product h2 {
    font-size: 50px;
    margin-top: 40px;
  }

  .product-image img {
    width: 400px;
    height: 250px;
  }
}