body {
    background: #313131;
    font-family: "Inter", Tahoma, Geneva, Verdana, sans-serif;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

/* Planos e preços */
.planos_precos {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-bottom: 5px solid #ffd700;
}

.planos_precos h2 {
    font-size: 30px; 
}

.container_planos {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
}

/* Telas maiores */
@media (min-width: 768px) {
    .planos_precos {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .planos_precos h2 {
        width: 100%;
        font-size: 50px;
    }

    .container_planos {
        width: 30%;
    }
}
